/* version 0.1 */

html {
    display: block;
}

body {
    height: 100%;
    background-color: #101010;
    color: wheat;
    font-size: 20px;
}

.ceneter_box {
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 20px 0px 40px 0px;
}

.main_title {
    font-size: 30.5px;
}

.input_box {
    display: table-cell;
    height: calc(100vh - 68px - 140px);
    width: 100vw;
    vertical-align: middle;
}

.input {
    height: max-content;
    width: 100%;
    max-width: 650px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.fix_label {
    float: left;
    width: 80px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

input {
    transition: 0.25s;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
    margin: 5px 0px 5px 5px;
    min-width: 60px;
    background-color: #1f1f1f;
    color: ivory;
    box-shadow: 0px 0px 5px 5px #4d4843;
    border-radius: 10px;
}

input:enabled:hover {
    background-color: #242424;
}


/* стили в боксе */

.div_line {
    display: flex;
    align-items: center;
    margin: 10px 5px;
    width: auto;
    clear: both
}

.new_student_form {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 10px;
}

.new_student_form input {
    float: left;
    width: 80%;
}


/* виды полей ввода */

.necessary_input {
    box-shadow: 0px 0px 5px 5px #5e442a;
}

.good_input {
    box-shadow: 0px 0px 5px 5px #2a522e;
}

.bad_input {
    box-shadow: 0px 0px 5px 5px #5e302a;
}

#submit:disabled {
    color: #4d4843;
}

#submit:enabled:hover {
    background-color: #2f2f2f;
    cursor: pointer;
}


/* анимации */

input:focus {
    outline: none;
    /*border: 2px solid #b0b06f;*/
    box-shadow: 0px 0px 5px 4px #52522a;
}


/*персональные настройки поей ввода*/

#class_number {
    width: 35%;
    max-width: 110px;
}

#class_letter {
    width: 20%;
    max-width: 50px;
}

#submit {
    color: 404040;
}
