/* version 1.0 */

html {
    background: url(../files/book.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100%;
    color: white;
}


/* Общие настройки */

.but {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #888;
    border-width: 0px 0px 1px 1px;
    text-align: center;
    transition: background-color .15s linear;
}

.but::before {
    text-align: center;
    font-family: FontAwesome;
    color: white;
    line-height: 40px;
    font-size: 30px;
}

.but:hover {
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    text-decoration: none;
    color: white;
}

.but.disabled,
.but.but.disabled::before {
    pointer-events: none;
    cursor: default;
    color: #888;
    border-color: #888;
}


/**/

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: rgba(0, 0, 0, .8);
}


/* ФИО */

.head {
    border: 1px solid #888;
    margin: auto;
    height: 20%;
    color: white;
    font-size: 30px;
}

table {
    padding: 5px;
    width: calc(100% - 41px);
}

table td,
table th {
    padding: 5px 2%;
}

table td {
    text-align: center;
}

#edit::before {
    content: "\f040";
}


/* Книги */

.information {
    border: 1px solid #888;
    margin: auto;
    min-height: 93px;
    color: white;
    font-size: 30px;
    border-spacing: 10px;
}

nav {
    float: right;
    width: 41px;
}

#add_book::before {
    content: "\f067";
}

#delate_book {
    margin-top: 10px;
    border-top: 1px solid #888;
}

#delate_book::before {
    content: "\f068";
}


/* кнопка домой */

#home {
    position: absolute;
    border-width: 1px;
}

#home::before {
    content: "\f015";
}
