/* version 1.0 */

html {
    background: url(../files/book.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100%;
    color: white;
}


/* Общие настройки */

#edit::before,
#add_book::before,
#delete_book::before {
    text-align: center;
    font-family: FontAwesome;
    color: white;
    line-height: 40px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}


/**/

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: rgba(0, 0, 0, .8);
}


/* ФИО */

.head {
    border: 1px solid #888;
    margin: auto;
    height: 20%;
    color: white;
    font-size: 30px;
}

table {
    padding: 5px;
    margin: auto;
    width: 90%;
}

table td,
th {
    padding: 5px 2%;
}

table td {
    text-align: center;
}

#edit::before {
    text-align: center;
    content: "\f040";
    font-family: FontAwesome;
    color: white;
    line-height: 40px;
    font-size: 30px;
}


/* Книги */

.information {
    border: 1px solid #888;
    margin: auto;
    height: 20%;
    color: white;
    font-size: 30px;
    border-spacing: 10px;
}

nav {
    float: right;
    width: 41px;
}

.but {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #888;
    border-width: 0px 0px 1px 1px;
    display: inline-block;
    text-align: center;
}

#add_book::before {
    content: "\f067";
}

#delete_book {
    margin-top: 10px;
    border-top: 1px solid #888;
}

#delete_book::before {
    content: "\f068";
}