/* version 1.0 */

html {
    height: 100%;
    font-family: sans-serif;
    color: white;
    background: url("../files/book.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
}

form h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
}

form .line {
    margin: 15px 40px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
}

form input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: .3s;
}

form input[type="checkbox"],
#quantity {
    width: auto;
}

form input.bad_input,
textarea.bad_input {
    border: 1px solid #f00;
}

form input.good_input,
textarea.good_input {
    border: 1px solid #0f0;
}

form input:focus,
textarea:focus {
    border: 1px solid #0fc3f5;
}

form textarea {
    max-width: 100%;
    height: auto;
    max-height: 15em;
    resize: none;
}

form #submit {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    background: #0fc3f5;
    border: none;
    transition: .3s;
}

form #submit:enabled:hover,
form #submit:enabled:focus {
    background: #4442db;
    cursor: pointer;
}

form #submit:disabled {
    background: #888;
}


/* for_group */

.for_group input[type="number"] {
    min-width: 100px;
}


/* кнопка домой */

a {
    text-decoration: none;
    color: white;
}

.but {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    border: 1px ridge white;
    opacity: .5;
    transition: opacity .15s linear;
}

#home::before {
    content: "\f015";
    display: flex;
    font-family: FontAwesome;
    font-size: 25px;
    color: white;
}

.but:hover,
.but:focus {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}