/* version 1.1 release */

html {
    height: 100%;
    font-family: sans-serif;
    color: white;
    background: url("../files/book.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    display: block;
    width: max-content;
    min-width: min-content;
    background: rgba(0, 0, 0, .7);
    transform: translate(-50%, -50%);
    transition: .25s;
}

form h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
}

form .line {
    margin: 15px 40px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
}

form input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: .3s;
}

form input[type="checkbox"],
#quantity {
    width: auto;
}

form input.bad_input,
textarea.bad_input {
    border: 1px solid #f00;
}

form input.good_input,
textarea.good_input {
    border: 1px solid #0f0;
}

form input:focus,
textarea:focus {
    border: 1px solid #0fc3f5;
}

form textarea {
    max-width: 100%;
    height: auto;
    max-height: 15em;
    resize: none;
}

form #submit {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    background: #0fc3f5;
    border: none;
    transition: .3s;
}

form #submit:enabled:hover,
form #submit:enabled:focus {
    background: #4442db;
    cursor: pointer;
}

form #submit:disabled {
    background: #888;
}


/* for_group */

.for_group {
    position: absolute;
    width: 100%;
    z-index: 40;
    display: none;
    opacity: 0;
    transform: translate(0, -100%);
    transition: .25s;
}

.list_id {
    position: absolute;
    z-index: 40;
    display: none;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: .25s;
}

.for_group input[type="number"],
.list_id input[type="number"] {
    width: 80%;
    min-width: 100px;
}

.for_group.fading,
.list_id.fading {
    display: block;
}

.list_id.fading {
    width: 475px;
}

.for_group.show,
.list_id.show {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
}

.list_id.show {
    width: 475px;
}

.illusion {
    position: relative;
    z-index: 30;
    transition: .25s;
}

.list_id {
    position: relative;
    max-height: 100%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0);
}

.list_id .line {
    background: none;
}

.list_id .line input {
    background: rgba(0, 0, 0, .7);
}

.all_inputs {
    display: flex;
    align-items: flex-start;
}

.main_inputs {
    flex-grow: 1;
}

.auto_inputs {
    /* align-self: stretch; */
}


/* ÑÑ‚Ð¸Ð»Ð¸Ð·Ð°Ñ†Ð¸Ñ checkbox */

input[type="checkbox"] {
    /*opacity: 0;*/
    display: none;
}

.single_checkbox {
    display: inline-flex;
    margin-top: 10px;
}

.single_checkbox label {
    position: relative;
    padding-left: 22px;
}

.single_checkbox label::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid;
}

.single_checkbox label::after {
    content: '';
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    opacity: 0;
    transform: rotate(-45deg);
    transition: opacity .1s;
}

.single_checkbox label::before,
.single_checkbox label::after {
    position: absolute;
}

.single_checkbox input[type="checkbox"]:checked+label::after {
    opacity: 1;
}

.single_checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.single_checkbox label::before {
    top: 0px;
    left: 0px;
}

.single_checkbox label::after {
    top: 3px;
    left: 4px;
}

.group_checkbox {
    display: block;
    width: 100%;
    padding: 5px 0px;
    border: 1px solid #fff;
}

#quantity {
    margin-right: 10px;
    width: 205px;
}


/* ÐºÐ½Ð¾Ð¿ÐºÐ° Ð´Ð¾Ð¼Ð¾Ð¹ */

a {
    text-decoration: none;
    color: white;
}

.but {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    border: 1px ridge white;
    opacity: .5;
    transition: opacity .15s linear;
}

#home::before {
    content: "\f015";
    display: flex;
    font-family: FontAwesome;
    font-size: 25px;
    color: white;
}

.but:hover,
.but:focus {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}