/* version 1.2 */

html {
    background: url("../files/book.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    color: white;
    font-family: sans-serif;
}

body {
    text-align: center;
}

.find_input {
    right: 50%;
    margin: 30px auto 10px auto;
    width: 70%;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
}

form {
    width: 100%;
    text-align: center;
    display: flex;
}

#input {
    margin: 5px 0px 5px 5px;
}

#input[name="q"] {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    border-right: 0px;
    box-sizing: border-box;
    width: 100%;
    transition: border .3s;
}


/* анимация поля ввода и кнопки */

#input:focus {
    border: 1px solid #0fc3f5;
}

#input:focus~#submit {
    background-color: #0fc3f5;
}

#input.bad_input {
    border: 1px solid #d00000;
}

#input.bad_input~#submit {
    background-color: #d00000;
}

#input.good_input {
    border: 1px solid #00d000;
}

#input.good_input~#submit {
    background-color: #00d000;
}

#submit {
    height: calc(23px + 20px + 2px);
    width: calc(23px + 20px + 2px);
    margin-top: 5px;
    padding: 0;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: background-color .3s;
}

#submit:before {
    content: "\f002";
    font-family: FontAwesome;
    color: black;
    font-size: 20px;
}

#submit:hover {
    background-color: #d0d0d0;
}

.search_result {
    width: 70%;
    margin: 20px auto 0px auto;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .8);
    transition: height .3s;
}


/*
height: calc(23px + 20px + 2px);
width: calc(23px + 20px + 2px);
*/
