/* version 1.0 release */



/* Общие настройки */


.but.disabled,
.but.but.disabled::before {
    border-color: #888;
    color: #888;
    cursor: default;
    pointer-events: none;
}


/* box */

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    min-width: min-content;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
}


/* Статическая информация */

.head {
    margin: auto;
    border: 1px solid #888;
    height: 20%;
    font-size: 30px;
    color: #fff;
}

table {
    padding: 5px;
    width: calc(100% - 46px);
}

table td,
table th {
    padding: 12px 10px;
}

table td {
    text-align: center;
}

.class {
    font-style: italic;
    font-size: 60%;
}


/* Изменяемая информация */

.information {
    margin: auto;
    border: 1px solid #888;
    border-spacing: 10px;
    height: min-content;
    min-height: 93px;
    font-size: 30px;
    color: #fff;
}

.but_nav {
    float: right;
    width: 46px;
}


/* кнопки */

.but {
    transition: 0.15s linear;
}

.but:hover,
.but:focus {
    border-color: #888;
}

#add_book,
#delete_book,
#edit {
    border-width: 0 0 1px 1px;
}

#add_book::before {
    content: "\f067";
}

#delete_book::before {
    content: "\f068";
}

#edit::before {
    content: "\f040";
}

#del {
    border-top: 1px solid #888;
}

#del::before {
    content: "\f014";

    /* content: "\f1f8"; */
}


/* inputs for edit */

h1 {
    margin: 30px auto;
    padding: 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0);
}

.line {
    display: flex;
    align-items: center;
    margin: 15px 46px;
    text-align: left;
}

.line input,
.line button,
.line textarea,
#submit {
    outline: none;
    border: 1px solid #fff;
    padding: 10px;
    width: calc(100% - 252px);
    min-width: 200px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    transition: border 0.3s;
    resize: none;
}

input.bad_input,
textarea.bad_input {
    border: 1px solid #f00;
}

input.good_input,
textarea.good_input {
    border: 1px solid #0f0;
}

input:focus,
textarea:focus {
    border: 1px solid #0fc3f5;
}

#submit {
    margin-top: 20px;
    border: none;
    width: 100%;
    font-weight: 700;
    color: #fff;
    background: #0fc3f5;
    transition: 0.3s;
}

#submit:enabled:hover,
#submit:enabled:focus {
    background: #4442db;
    cursor: pointer;
}

#submit:disabled {
    background: #888;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    width: 100px;
    height: 20px;
    font-style: oblique;
    font-size: 20px;
}
