/* version 1.0 release */


form {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 50;
    display: block;
    width: max-content;
    min-width: min-content;
    background: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    transition: 0.25s;
}

form h1 {
    margin: 30px 100px;
    padding: 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0);
}

form .line {
    margin: 15px 40px;
    text-align: center;
}

form input,
textarea {
    outline: none;
    border: 1px solid #fff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

form input[type="checkbox"],
#quantity {
    width: auto;
}

form input.bad_input,
textarea.bad_input {
    border-color: #f00;
}

form input.good_input,
textarea.good_input {
    border-color: #0f0;
}

form input:focus,
textarea:focus,
#group_checkbox:focus + label,
.single_checkbox input[type="checkbox"]:focus + label::before {
    border-color: #0fc3f5;
}

form textarea {
    height: auto;
    max-width: 100%;
    max-height: 15em;
    resize: none;
}

form #submit {
    margin-top: 20px;
    border: none;
    font-weight: 700;
    color: #fff;
    background: #0fc3f5;
    transition: 0.3s;
}

form #submit:enabled:hover,
form #submit:enabled:focus {
    background: #4442db;
    cursor: pointer;
}

form #submit:disabled {
    background: #888;
}


/* for_group */

.for_group {
    position: absolute;
    z-index: 40;
    display: none;
    width: 100%;
    opacity: 0;
    transform: translate(0, -100%);
    transition: 0.25s;
}

.list_id {
    position: relative;
    z-index: 40;
    display: none;
    overflow-y: scroll;
    max-height: 100%;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: 0.25s;
}

.for_group input[type="number"],
.list_id input[type="number"] {
    width: 80%;
    min-width: 100px;
}

.for_group.fading,
.list_id.fading {
    display: block;
}

.list_id.fading {
    width: 475px;
}

.for_group.show,
.list_id.show {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
}

.list_id.show {
    width: 475px;
}

.illusion {
    position: relative;
    z-index: 30;
    transition: 0.25s;
}


.all_inputs {
    display: flex;
    align-items: flex-start;
}

.main_inputs {
    flex-grow: 1;
}


/* стилизация checkbox */

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.single_checkbox {
    display: inline-flex;
    margin-top: 10px;
}

.single_checkbox label {
    position: relative;
    padding-left: 22px;
}

.single_checkbox label::before {
    content: "";
    left: 0;
    top: 0;
    display: inline-block;
    border: 1px solid;
    width: 16px;
    height: 16px;
    transition: border 0.15s;
}

.single_checkbox label::after {
    content: "";
    left: 4px;
    top: 3px;
    display: inline-block;
    border-bottom: 2px solid;
    border-left: 2px solid;
    width: 9px;
    height: 6px;
    opacity: 0;
    transform: rotate(-45deg);
    transition: opacity 0.1s;
}

.single_checkbox label::before,
.single_checkbox label::after {
    position: absolute;
}

.single_checkbox input[type="checkbox"]:checked + label::after {
    opacity: 1;
}



#quantity {
    margin-right: 10px;
    width: 205px;
}

.group_checkbox {
    display: block;
    border: 1px solid #fff;
    padding: 5px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#group_checkbox + label:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

input[type="checkbox"],
input[type="checkbox"] + label {
    transition: background-color, border 0.15s;
    cursor: pointer;
}
