@font-face {
    src: url("../files/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("sources/files/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-family: "FontAwesome";
    font-weight: 400;
    font-style: normal;
}


/* общие свойства кнопок ▼ */

.but {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    transition: opacity 0.15s linear;
}

.but::before {
    display: flex;
    font-family: "FontAwesome";
    font-size: 25px;
    color: fff;
}

.but:hover,
.but:focus {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    cursor: pointer;
}


.navigation {
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    transition: 0.25s;
}

/* Кнопка "домой" */

#home {
    z-index: 60;
    margin-bottom: 5px;
    transition: 0.25s;
}

#home::before {
    content: "\f015";
}

/* Кнопка "назад" */

#back {
    z-index: 59;
    transition: 0.25s;
}

#back::before {
    content: "\f060";
}
