/* version 1.0 release */


a {
    margin: 10px;
    border: 2px solid #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    opacity: 0.6;
    transition: opacity 0.2s linear;
}

a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.nav {
    display: flex;
    font-size: 2vw;
    text-transform: uppercase;

    /* white-space: nowrap; */
}
