/* version 1.0 release */


.nav a {
    display: block;
    flex: 45%;
    flex-grow: 1;
    align-self: stretch;
    margin: 10px;
    border: 2px solid #fff;
    padding: 10px;
    width: 100%;
    min-width: 200px;
    max-width: calc(25% - 45px);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    opacity: 0.6;
    transition: opacity 0.2s linear;
}

.nav a:hover,
.nav a:focus {
    opacity: 0.9;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-transform: uppercase;

    /* white-space: nowrap; */
}


@media (max-width: 1000px) and (min-width: 621px) {
    .nav a {
        flex: 45%;
        max-width: calc(50% - 45px);
    }
}

@media (max-width: 620px) {
    .nav a {
        flex: 100%;
        max-width: 100%;
    }
}



.wrapper {
    flex-wrap: wrap;
}
