html {
    height: 100%;
    font-family: sans-serif;
    color: white;
    background: #0a0a00 url("../files/book.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

a {
    text-decoration: none;
    color: white;
}