/* version 1.0 release */

.dark {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0);
    transition: 0.25s;
}

.dark.fading {
    display: initial;
}

.alert_window {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    border: 2px solid #fff;
    padding: 15px;
    width: 50%;
    height: min-content;
    min-width: min-content;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transform: translate(-50%, 0%);
    transition: 0.25s;
}

.alert_message {
    display: inline-block;
    margin: 4px;
    padding: 2px;
    font-size: 110%;
}

.dark.show {
    display: initial;
    background-color: rgba(90, 90, 90, 0.5);
}

.show .alert_window {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.but_window_space {
    width: 100%;
    min-width: min-content;
    text-align: center;
}

.but_window {
    display: inline-block;
    margin: 10px;
    border: 1px solid #777;
    padding: 0 12px;
    font-size: 21px;
    color: #fff;
    background: #000;
    transition: background-color, border 0.15s;
    cursor: pointer;
}

.but_window:hover,
.but_window:focus {
    outline: none;
    border: 1px solid #fff;
    background: #222;
    cursor: pointer;
}

.sure {
    display: flex;
}

.mes_dis {
    display: none;
}
