/* version 1.0 release */

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);

    /* background-color: rgba(120, 120, 120, .7); */
}


/* ФИО */

.head {
    margin: auto;
    border: 1px solid #888;
    height: 20%;
    font-size: 30px;
    color: #fff;
}

table {
    padding: 5px 0 5px 5px;
    width: 100%;
}

table td,
table th {
    padding: 12px 2%;
}

table td {
    text-align: center;
}

table .td_edit {
    padding: 0;

    /* background-color: red; */
    width: 41px;
    transform: translateX(2px);
}

#edit::before {
    content: "\f040";
}

.little {
    margin: 4px;
    font-style: italic;
    font-size: 60%;
}


/* Книги */

.information {
    margin: auto;
    border: 1px solid #888;
    border-spacing: 10px;
    min-height: 93px;
    font-size: 30px;
    color: #fff;
}

nav {
    float: right;
    width: 41px;
}


/* кнопки */

#add_book::before {
    content: "\f067";
}

#edit {
    border-right-width: 0;
}

#delate_book::before {
    content: "\f068";
}


/* inputs */

h1 {
    margin: 30px auto;
    padding: 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0);
}

.line {
    display: flex;
    align-items: center;
    margin: 15px 40px;
    text-align: left;
}

input,
button,
textarea {
    outline: none;
    border: 1px solid #fff;
    padding: 10px;
    width: calc(100% - 252px);
    min-width: 200px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    transition: border 0.3s;
    resize: none;
}

input.bad_input,
textarea.bad_input {
    border: 1px solid #f00;
}

input.good_input,
textarea.good_input {
    border: 1px solid #0f0;
}

input:focus,
textarea:focus {
    border: 1px solid #0fc3f5;
}

#submit {
    margin-top: 20px;
    border: none;
    width: 100%;
    font-weight: 700;
    color: #fff;
    background: #0fc3f5;
    transition: 0.3s;
}

#submit:enabled:hover,
#submit:enabled:focus {
    background: #4442db;
    cursor: pointer;
}

#submit:disabled {
    background: #888;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    width: 100px;
    height: 20px;
    font-style: oblique;
    font-size: 20px;
}
