/* version 1.0 release */

body {
    text-align: center;
}

main > h2 {
    margin: auto;
    margin-top: 0;
    padding-top: 20px;
    max-width: calc(100% - (135px + 100% * 0.03) * 2);
}

#find-count {
    position: absolute;
    right: 3%;
    min-width: 135px;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
}

.find_input {
    right: 50%;
    display: flex;
    margin: 30px auto 10px;
    width: 70%;
    min-width: min-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#input {
    margin: 5px 0;
}

#input[name="q"] {
    outline: none;
    border: 1px solid #fff;
    border-width: 1px 0;
    padding: 10px;
    width: 100%;
    min-width: 150px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    background: none;
    transition: border 0.3s;
}

#submit {
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 5px;
    outline: none;
    border: 0;
    padding: 0;
    width: calc(23px + 20px + 2px);
    height: calc(23px + 20px + 2px);
    transition: background-color 0.3s;
    cursor: pointer;
}

select {
    flex-shrink: 0;
    flex-basis: auto;
    order: -1;
    margin-top: 5px;
    outline: none;
    border: none;
    padding: 10px 5px;
    height: calc(23px + 20px + 2px);
    font-size: 20px;
    background-color: rgb(239, 239, 239);
    transition: background-color 0.3s;
}

option {
    background-color: #eee;
}


/* анимация поля ввода и кнопки */

#input:focus {
    border: 1px solid #0fc3f5;
    border-width: 1px 0;
}

#input:focus ~ #submit,
#input:focus ~ select {
    background-color: #0fc3f5;
}

#submit::before {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: 20px;
    color: #000;
}

#submit:hover,
#submit:focus,
select:hover,
select:focus {
    background-color: #b0b0b0;
}


/* результаты поиска */

.search_result {
    margin: 20px auto 0;
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
    transition: height 0.3s;
}

.result {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 10px auto;
    border: 4px solid #777;
    border-radius: 10px;
    padding: 10px;
    width: 94%;
    height: max-content;
    color: #bbb;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.15s linear;
    transition-property: background-color, border;
}

.result:last-child {
    margin-bottom: 0;
}

.result.valid {
    border-color: #e3e3e3;
    color: #fff;
}

.result.valid:hover,
.result.valid:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.notification {
    border: 3px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.7);
}

.personal_information {
    display: flex;
    margin-bottom: 16px;
}

.one_book {
    display: flex;
    justify-content: space-around;
    margin: 8px;
    border: 1px solid #fff;
    padding: 6px;
    height: max-content;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.name_book {
    font-weight: 700;
    font-size: 25px;
}

.autor_book {
    font-style: italic;
}

.book {
    margin: 20px;
}


/* Для книг */

.left_part,
.right_part {
    margin: auto;
    width: 50%;
}

.name_book::after,
.autor_book::after {
    content: "";
    display: block;
    height: 8px;
}

.right_part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    font-weight: 900;
    font-size: 25px;
}


.result.group .left_part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    width: 100%;
}

.information {
    position: absolute;
    right: 0;
    top: 0;
    align-self: start;
    border: 2px solid #777;
    border-width: 0 0 2px 2px;
    border-radius: 0 10px;
    padding: 1px 10px;
    font-weight: 800;
    font-size: 23px;
}

.result.valid .information,
.result.valid .choice {
    border-color: #e3e3e3;
    transition: 0.15s linear;
}

.choice {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #777;
    border-width: 0 2px 2px 0;
    border-radius: 4px 0 10px;
    width: 30px;
    height: 30px;
    transition: 0.15s linear;
}

.date {
    font-weight: 100;
    font-style: italic;
    font-size: 18px;
}

.FCS {
    align-self: center;
    margin: 30px 0;
    width: 100%;
    height: min-content;
}


/* group */

.group {
    box-shadow: 5px 5px #777;
}

.group.valid {
    box-shadow: 5px 5px #e3e3e3;
}


/* choice */

.choice input[type="checkbox"] {
    display: none;
}

.choice input[type="checkbox"] + label {
    display: block;
    margin: 0;
    border-radius: 6px 0 8px;
    width: 30px;
    height: 30px;
    transition: background-color 0.1s;
}

.choice label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    display: inline-block;
    border-bottom: 1px solid;
    border-left: 1px solid;
    width: 18px;
    height: 10px;
    opacity: 0;
    transform: rotate(-45deg);
    transition: 0.15s linear, opacity 0.1s;
}

.choice input[type="checkbox"]:checked + label::after {
    opacity: 1;
}


/* selecting */

.result.valid.selected .information,
.result.valid.selected .choice,
.result.selected {
    border-color: #0fc3f5;
}

.group.selected {
    box-shadow: 5px 5px #0fc3f5;
}

.selected .choice {
    background-color: #0fc3f5;
}

.selecting .choice {
    width: 50px;
    height: 50px;
}

.selecting .choice input[type="checkbox"] + label {
    width: 50px;
    height: 50px;
}

.selecting .choice label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 10px;
    display: inline-block;
    border-bottom: 4px solid;
    border-left: 4px solid;
    width: 32px;
    height: 17px;
    opacity: 0;
    transform: rotate(-45deg);
}

/* buttons */

#more_result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 4px;
    border: 1px ridge #fff;
    width: 50%;
    height: 45px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.5;
    transition: 0.15s linear;
}

#more_result:hover {
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.9;
    cursor: pointer;
}

#up {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 200;
    width: 60px;
    height: 60px;
    transition: 0.25s;
}

#up::before {
    content: "\f077";
}

#up.hidden {
    transform: translateY(calc(100% + 20px));
}


/* toolbar */

.toolbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    width: calc(100% - 2px);
    height: 47px;
    background-color: #000;
    transform: translateY(-100%);
    transition: transform 0.25s;
}

.toolbar.show {
    transform: translateY(0);
}

.toolbar.show + .navigation {
    transform: translateY(52px);
}

#summ_checked {
    margin-left: 15%;
}

#summ_checked > span {
    font-weight: 900;
}

.toolbar_buttons {
    display: flex;
}

#remove::before {
    content: "\f00d";
}

#edit::before {
    content: "\f040";
}

#del::before {
    content: "\f014";

    /* content: "\f1f8"; */
}
